<!DOCTYPE html>
<html>

<link rel="stylesheet" href="../static/css/landing_page.css">

<head>
    <title>Barbuddy's Opening Page</title>
</head>
<body>
    <h1>Welcome to BarBuddy</h1>
    <button class="button" onclick="viewDrinkMenu()">View Drink Menu</button>

    <script>
        function viewDrinkMenu() {
            document.querySelector('.button').classList.add('clicked');
            setTimeout(() => {
                window.location.href = "index.html";
            }, 500);
        }
    </script>

    <script>
        createBubbles();

        function createBubbles() {
            for (let i = 0; i < 50; i++) { /* Increased number of bubbles */
                const bubble = document.createElement('div');
                bubble.classList.add('bubble');
                bubble.style.left = Math.random() * 100 + 'vw';
                bubble.style.animationDelay = Math.random() * 3 + 's'; /* Staggered animation delays */
                document.body.appendChild(bubble);
            }
        }
    </script>
</body>
</html>
